.navbar-default {
  min-height: 135px;
  background-color: rgb(26, 30, 39);
  font-family: 'Comfortaa', cursive;
  margin-bottom: 0px;
}
.navbar-header a {
  color: #73AD21;
  font-size: 20px;
}

.nav.navbar-nav li a{
  color: white !important;
  font-size: 20px;
}

.navbar-nav, .navbar-brand {
  margin-top: 40px;
}

.navContent {
  padding-left: 115px;
}

.sub-headers {
  font-size: 16px;
  color: grey;
}

.searchBarDiv {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  margin-top: 0px;
  min-height: 60px;
  border-bottom: 1px solid lightgrey;

}

.movieSearchInput {
  width: 70%;
  min-height: 55px;
  margin-left: 1%;
  border: none;
  padding-top: 10px;
}

input:focus{
  outline: none;
}

.glyphicon-search {
  padding-left: 160px;
}

.search-results {
  position: absolute;
  z-index: 1;
  min-height: 200px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05),
   0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.results-header {
  margin-left: 160px;
  margin-bottom: 25px;
}

.trending-movie {
  border-top: 1px solid rgb(241, 241, 241);
  padding-top: 10px;
}

.trending-movie:hover {
  background-color: rgba(211, 211, 211, 0.199);
}

.trending-movie-title {
  margin-left: 20px;
  font-family: 'Comfortaa', cursive;
  font-size: medium;
  display: inline-block;
}

.glyphicon-user {
  font-size: 10px;
}
