<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid navContent">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/movies" id="Popular_Movies" (click)="changeCategory($event)">zMovies</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!--<li><a routerLink="/movies/discover" id="Discover_Movies" (click)="changeCategory($event)">Discover</a></li>-->
          <li><a routerLink="/movies" id="Popular_Movies" (click)="changeCategory($event)">Popular Movies</a></li>
          <li><a routerLink="/movies" id="Top_Rated_Movies" (click)="changeCategory($event)">Top Rated Movies</a></li>
          <li><a routerLink="/movies" id="Upcoming_Movies" (click)="changeCategory($event)">Upcoming Movies</a></li>
          <li><a routerLink="/movies" id="Now_Playing_Movies" (click)="changeCategory($event)">Now Playing Movies</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
          <li><button routerLink="/profile" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-user"></span>
          </button>
        </li>
        </ul>
      </div>
  </div>
</nav>
<div class="searchBarDiv">
    <span class="glyphicon glyphicon-search"></span>
    <input #searchbar (click)="showSearchResults = true" class="movieSearchInput" type="search" placeholder="search for a movie...">
</div>
<div *ngIf="showSearchResults" (clickOut)="showSearchResults = false" [allowedClick]="searchbar" class="search-results">
  <h2 class="results-header">Trending Movies</h2>
  <div *ngFor="let movie of trendingMovies" [routerLink]="['/movie-detail', movie.id]" (click)="showSearchResults = false" class="trending-movie">
    <span class="glyphicon glyphicon-search"></span>
    <p class="trending-movie-title">{{movie.title}}</p>
  </div>
</div>

