<div  class="movie-container">
  <div class="row"
       [ngStyle]="backgroundStyle">

    <div class="col-md-4">
      <img [srcset]="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + movie.poster_path + ' 1x,
        https://image.tmdb.org/t/p/w600_and_h900_bestv2' + movie.poster_path + ' 2x'"
        sizes="auto"
        [src]="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + movie.poster_path"
        class="movie-image" alt="{{movie.title}}">
    </div>

    <div class="col-md-5">

      <h1 class="movie-title">{{movie.title}}</h1>

      <div class="save-actions">

        <div class="glyphicon-ring"><span id="list" class="glyphicon glyphicon-list glyphicon-bordered" (click)="showCollections()"></span></div>
        <div class="glyphicon-ring"><span id="favorite" class="glyphicon glyphicon-heart glyphicon-bordered" (click)="addToFavorites()"></span></div>
        <div class="glyphicon-ring"><span id="bookmark" class="glyphicon glyphicon-bookmark glyphicon-bordered" (click)="addToWatchlist()"></span></div>
          <div (click)="showRatings = true" class="glyphicon-ring">
            <span #myDiv id="rate" class="glyphicon glyphicon-star glyphicon-bordered"></span>
          </div>

        <div  *ngIf="showRatings" (clickOut)="closeRatings()" [allowedClick]="myDiv" class="rating-options">
            <span id="star5" class="glyphicon glyphicon-star glyphicon-bordered star"></span>
            <span id="star4" class="glyphicon glyphicon-star glyphicon-bordered star"></span>
            <span id="star3" class="glyphicon glyphicon-star glyphicon-bordered star"></span>
            <span id="star2" class="glyphicon glyphicon-star glyphicon-bordered star"></span>
            <span id="star1" class="glyphicon glyphicon-star glyphicon-bordered star"></span>
        </div>
        <div *ngIf="displayPopup" [ngClass]="{'alert': true, 'alert-success': success, 'alert-danger': !success}" style="width: 280px; margin-top: 25px; margin-left: 70px;" role="alert"><p class="text-center">{{success === true ? 'Successfly added!' : 'Oops, something went wrong. Try later.'}}</p></div>
      </div>

      <div class="overview-section">
        <h3 class="overview-header">Overview</h3>
        <p class="overview-body">
          {{movie.overview}}
        </p>
      </div>

    </div>

    <div class="col-md-3">

        <div class="movie-metadata">

          <div class="row release-date">
            <div class="col-md-6">Release Date:</div>
            <div class="col-md-6"><span class="label label-success">{{movie.release_date | date:'longDate'}}</span></div>
          </div>

          <div class="row runtime">
            <div class="col-md-6">Runtime:</div>
            <div class="col-md-6"><span class="label label-success">{{movie.runtime}} mins</span></div>
          </div>

          <div class="row original-language">
            <div class="col-md-6">Language:</div>
            <div class="col-md-6"><span class="label label-success">{{movie.original_language === 'en' ? 'English' : movie.original_language}}</span></div>
          </div>

          <div class="row genres">
            <div class="col-md-6">Genres:</div>
            <div class="col-md-6"><p *ngFor="let genre of movie.genres | limitArrSize:3"><span class="label label-success">{{genre.name}}</span></p></div>

          </div>

        </div>
    </div>

  </div>
</div>
