<div class="container">
  <div class="header">
      <h2 class="title">
        All Ratings
      </h2>
  </div>

<div *ngIf="ratings.length === 0" class="no-results">
  <h3>No ratings - <span><a routerLink="../../movies">search movies</a></span></h3>
</div>

<div class="flex-content">
  <div class="movie-container" *ngFor="let rating of ratings">
    <div class="movie-img">
      <img class="responsive"
          [src]="'https://image.tmdb.org/t/p/w780' + rating.movie.posterURL"
          [alt]="rating.movie.title"/>
    </div>
    <div class="movie-header">
      <h4 class="movie-title">{{rating.movie.title === undefined ? '' : rating.movie.title}}</h4>
    </div>
    <div class="delete">
      <div (click)="deleteRating(rating.movie.id)" type="button" class="glyphicon-ring" style="margin-top: 10px;" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-remove glyphicon-bordered"></span>
      </div>
    </div>
    <div class="rating-container">
      <div class="rating-options">
        <span id="star5" [ngClass]="{'filled': rating.value >= 5}" class="glyphicon glyphicon-star"></span>
        <span id="star4" [ngClass]="{'filled': rating.value >= 4}"  class="glyphicon glyphicon-star"></span>
        <span id="star3" [ngClass]="{'filled': rating.value >= 3}"  class="glyphicon glyphicon-star"></span>
        <span id="star2" [ngClass]="{'filled': rating.value >= 2}"class="glyphicon glyphicon-star"></span>
        <span id="star1" [ngClass]="{'filled': rating.value >= 1}" class="glyphicon glyphicon-star"></span>
      </div>
    </div>
    <div class="movie-body">
      <p class="movie-description">{{rating.movie.overview | truncate}}</p>
    </div>
    <div class="movie-footer">
      <button [routerLink]="['/movie-detail', rating.movie.movieDbId]" type="button" class="btn btn-block btn-default more">More</button>
    </div>
  </div>
</div>
</div>
