.title {
  margin-bottom: 40px;
}

.movie-wrapper {

  margin-right: 5px;
  margin-bottom: 35px;
  height: 300px;
  width: 900px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05),
   0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.movieImg {

  min-height: 325;
}

.header {
  font-family: 'Comfortaa', cursive;
  margin-bottom: 10px;
}

.responsive {
  width: 100%;
  height: auto;
  max-height: 273px;
  max-width: 182px;
}

.movie-body-wrapper {
  height: 200px;
  max-height: 230px;
}

.movieTitle {
  margin-bottom: 15px;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

.releaseDate {
  font-size: 15px;
  margin-left: 20px;
  color: gray;
}

.movieDescription {
  padding-right: 10px;
  font-size: 16px;
  color: rgb(102, 100, 100);
  font-family: 'Lato', sans-serif;
}


.more {
  margin-top: 5px;
  color: inherit
}

.more:focus {
  outline: 0;
}

.outlinedDiv {
  border-radius: 0;
  background-color: white;
  min-height: 278px;
  max-height: 278px;
  min-width: 900px;
  max-width: 900px;
}

.filled {
  color: rgb(221, 201, 24) !important;
}

.rating-options {
  padding: 0px;
  margin-bottom: 20px;
  margin-right: 380px;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating-options > span {
  width: 25px;
}

.glyphicon-star {
  font-size: x-large;
  color: rgb(151, 151, 151);
}

.glyphicon-ring {
  margin-right: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgb(136, 136, 136);
  color: rgb(136, 136, 136);
  display: inline-table;
  text-align: center;
  margin-right: 3em;
}

.glyphicon-ring .glyphicon-bordered {
  font-size: 10px;
  vertical-align: middle;
  display: table-cell;
}

.glyphicon-ring:hover {
  background-color: rgb(136, 136, 136);;
}

.glyphicon-remove:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}
