<div class="container">
  <div class="header">
      <h2 class="title">
        {{movies?.name}}
      </h2>
      <small>{{movies?.description}}</small>
    </div>
<div *ngFor="let movie of movies?.movieToMovieCollections" class="movie-wrapper">
  <div class="outlinedDiv">
    <div class="row">
      <div class="col-xs-4">
          <img class="movieImg responsive"
            [src]="'https://image.tmdb.org/t/p/w780' + movie.movie.posterURL"
            [alt]="movie.movie.title"/>

      </div>
      <div class="col-xs-7">
        <div class="movie-body-wrapper">
            <h4 class="movieTitle">{{movie.movie.title === undefined ? '' : movie.movie.title}}</h4>
            <p class="releaseDate">{{movie.movie.releaseDate | date:'longDate'}}</p>
            <p class="movieDescription">{{movie.movie.overview | truncate}}</p>
        </div>

        <div class="row">
          <div class="col-xs-10 ">
              <button [routerLink]="['/movie-detail', movie.movie.movieDbId]" type="button" class="btn btn-block btn-default more">More</button>
          </div>
        </div>
      </div>

      <div class="col-xs-1">
        <button (click)="movieToRemove = movie" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
          <span class="glyphicon glyphicon-minus"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Would you like to remove this movie from this list?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button (click)="removeMovie()" type="button" class="btn btn-danger" data-dismiss="modal">Remove</button>
      </div>
    </div>
  </div>
</div>
</div>
