.grid-header {
  display: grid;
  grid-template-columns: repeat(3fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "left mid right"
   "desc desc .";
  font-family: 'Comfortaa', cursive;
  margin: 30px 0px 30px 0px;
}

.edit-container {
  grid-area: right;
  justify-self: end;
  align-self: center;
}

.description-container {
  grid-area: desc;
  font-size: medium;
  color: gray;
  margin-top: 20px;
}

.flex-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
}

.movie-container {
  font-family: 'Comfortaa', cursive;
  width: 700px;
  height: 262px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr 4fr 1fr);
  grid-template-rows: repeat(auto-fill, 1fr 2fr 1fr);
  grid-template-areas:
  "img header header delete"
  "img body body body"
  "img footer footer footer";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05),
   0 6px 20px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 50px;
  margin-right: 0px;
  grid-column-gap: 20px;
}

.movie-img {
  grid-area: img;
}

.movie-header {
  grid-area: header;
  padding-left: 10px;
}

.delete {
  grid-area: delete;
  justify-self: end;
}

.movie-body {
  grid-area: body;
  padding: 10px;
  justify-self: center;
  align-self: center;
}

.movie-footer {
  grid-area: footer;
  align-self: end;
  padding-left: 20%;
  padding-bottom: 10px;
}
.responsive {
  width: 100%;
  height: auto;
  display: block;
  max-height: 262px;
  max-width: 182px;
  min-width: 182px;
}

.movie-title {
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

.release-date {
  color: gray;
}

.movie-description {
  font-size: 16px;
  color: rgb(102, 100, 100);
  font-family: 'Lato', sans-serif;
}

.more {
  color: inherit;
  width: 75%;

}

.glyphicon-ring {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgb(136, 136, 136);
  color: rgb(136, 136, 136);
  display: inline-table;
  text-align: center;
  margin-right: 1em;
}

.glyphicon-ring .glyphicon-bordered {
  font-size: 13px;
  vertical-align: middle;
  display: table-cell;
}

.glyphicon-ring:hover {
  background-color: rgb(136, 136, 136);;
}

.glyphicon:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.btn-save {
  background-color: rgb(0, 128, 0);
  color: white;
}

.btn-save:hover {
  opacity: .9;
}
