.options-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 70px;
  grid-gap: 10px;
  grid-template-areas:
  "watchlist favorites all-lists ratings";
  align-items: center;
  justify-items: center;
}

.watchlist-container {
  grid-area: watchlist;
}

.favorites-container {
  grid-area: favorites;
}

.all-lists-container {
  grid-area: all-lists;
}

.ratings-container {
  grid-area: ratings;
}

.header-item {
  font-family: 'Comfortaa', cursive;
  font-size: x-large;
  color: gray;
}

.header-item:hover {
  color: #73AD21;
  cursor: pointer;
}

.active-header {
  color: rgb(88, 151, 0);
}

.line {
  margin-top: 0px;
}
