.row-header {
  margin-left: 110px;
  margin-right: 110px;
}

.header-item {
  margin-left: 30px;
  margin-top: 30px;
  font-family: 'Comfortaa', cursive;
  font-size: x-large;
  color: gray;
}

.header-item:hover {
  color: #73AD21;
}

.active-header {
  color: rgb(88, 151, 0);
}
