.grid-header {
  display: grid;
  grid-template-columns: repeat(3fr);
  grid-template-rows: 1fr;
  grid-template-areas:
  "left mid right";
  font-family: 'Comfortaa', cursive;
  margin: 30px 0px 30px 0px;
}

.flex-movie-lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Comfortaa', cursive;
}

.title-container {
  grid-area: mid;
  align-self: end;
}

.title-container > span {
  font-size: xx-large;
  font-weight: bold;
}

.create-list-container {
  grid-area: right;
  align-self: end;
}

.img-container {
  min-height: 282px;
  max-width: 500px;
  min-width: 500px;
  margin: 25px;
}

.img-container:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.6);
  cursor: pointer;
}

.collection-info {
  color: white;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}
.collection-title {
  color: white;
  margin-top: 125px;
  font-size: 30px;
}

.collection-count {
    color: gray;
}
