<div class="section-header">
  <h2>{{category | FormatHeader}}</h2>
</div>
<div class="flex-content">
  <div class="movie-container" *ngFor="let movie of movies">
    <div class="movie-img">
      <img class="responsive"
          [src]="'https://image.tmdb.org/t/p/w780' + movie.poster_path"
          [alt]="movie.title"/>
    </div>
    <div class="movie-header">
      <h4 class="movie-title">{{movie.title === undefined ? movie.name : movie.title}}</h4>
      <p class="release-date">{{movie.release_date | date:'longDate'}}</p>
    </div>
    <div class="movie-body">
      <p class="movie-description">{{movie.overview | truncate}}</p>
    </div>
    <div class="movie-footer">
      <button [routerLink]="['/movie-detail', movie.id]" type="button" class="btn btn-block btn-default more">More</button>
    </div>
  </div>
  <ul class="pagination pagination-lg">
    <li *ngFor="let page of pagination">
      <a class="paginationNumber" (click)="changePage($event)">{{page}}</a>
    </li>
  </ul>
</div>
