.section-header {
  font-family: 'Comfortaa', cursive;
  padding-left: 20px;
  margin-bottom: 60px;
}
.flex-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'Comfortaa', cursive;
}

.movie-container {
  font-family: 'Comfortaa', cursive;
  width: 700px;
  height: 262px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr 3fr);
  grid-template-rows: repeat(auto-fill, 1fr 2fr 1fr);
  grid-template-areas:
  "img header header"
  "img body body"
  "img footer footer";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05),
   0 6px 20px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  margin-right: 0px;
}

.movie-img {
  grid-area: img;
}

.movie-header {
  grid-area: header;
  padding-left: 10px;
}

.movie-body {
  grid-area: body;
  padding: 10px;
  justify-self: center;
  align-self: center;
}

.movie-footer {
  grid-area: footer;
  align-self: end;
  padding-left: 20%;
  padding-bottom: 10px;
}
.responsive {
  width: 100%;
  height: auto;
  display: block;
  max-height: 262px;
  max-width: 182px;
}

.movie-title {
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

.release-date {
  color: gray;
}

.movie-description {
  font-size: 16px;
  color: rgb(102, 100, 100);
  font-family: 'Lato', sans-serif;
}

.more {
  color: inherit;
  width: 75%;

}

.more:focus {
  outline: 0;
}

.pagination:hover {
  cursor: pointer;
}
